.title {
  width: 100%;
  transition: all 0.5s linear;
}

.container {
  padding: 50px;
  display: flex;
  max-width: 1180px;
  margin-left: auto;
  margin-right: auto;
  transition: all 0.5s linear;
  gap: 30px;
  align-items: center;
}

.photo {
  background-image: url('../../images/website_photo.png');
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 50%;
  width: 100vw;
  height: 100vh;
  max-height: 200px;
  max-width: 200px;
  transition: all 0.5s linear;
}

.text {
  flex-direction: column;
  transition: all 0.5s linear;
}

.header {
  padding: 0;
  margin: 0;
  font-family: 'VremenaGrotesk', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 38px;
  line-height: 42px;
  transition: all 0.5s linear;
  text-rendering: optimizeLegibility;
}

.subheader {
  padding: 0;
  margin: 0;
  font-family: 'VremenaGrotesk', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 32px;
  line-height: 38px;
  padding-top: 20px;
  transition: all 0.5s linear;
  text-rendering: optimizeLegibility;
}

@media (max-width: 769px) {
  .container {
    padding: 30px;
  }

  .header {
    font-size: 36px;
    line-height: 40px;
  }

  .subheader {
    font-size: 30px;
    line-height: 36px;
  }
}

@media (max-width: 640px) {
  .container {
    flex-direction: column;
    align-items: center;
  }

  .header {
    text-align: center;
  }

  .subheader {
    text-align: center;
  }
}


@media (max-width: 501px) {
  .container {
    padding: 20px;
    gap: 20px;
  }

  .header {
    font-size: 34px;
    line-height: 38px;
  }

  .subheader {
    font-size: 28px;
    line-height: 34px;
  }
}
