html,body{
	background-color: rgb(255,255,255);
	margin: 0;
	padding: 0;
	font-family: sans-serif;
	font-size: 20px;
	line-height: 32px;
	height: 100%;
}
.container{
	min-height: 100%;
}
header{
	display: block;
	padding: 0 10px 10px;
	font-weight: 500;
	font-size: 40px;
	line-height: 40px;
	clear: right;
}
.subheader{
	display: inline-block;
	padding: 10px 10px 40px;
	font-size: 32px;
	line-height: 40px;
}
.workat{
	display: block;
	padding: 10px 10px 10px;
	font-size: 32px;
	line-height: 40px;
}
.workat a{
	display: inline-block;
	text-decoration: none;
	white-space: nowrap;
}
.lukoil{
	color:rgb(237,27,52);
}
.workedat{
	display: inline-block;
	padding: 10px 10px 10px;
	font-size: 32px;
	line-height: 40px;
}
.workedat a{
	display: inline-block;
	text-decoration: none;
	white-space: nowrap;
}
.maxconf{
	color: rgb(0,126,66);
}
.TR{
	color: rgb(255,128,0);
}
.KK{
	color: rgb(0,0,0);
}
.moex{
	color: rgb(200,16,46);
}
.started{
	display: block;
	padding: 10px 10px 140px;
	font-size: 32px;
	line-height: 40px;
}
.started a{
	display: inline-block;
	text-decoration: none;
	white-space: nowrap;
}
.venivi{
	color: rgb(254,225,25);
}
.mappngo{
	color: rgb(251,149,41);
}
footer{
	display: block;
	padding: 10px 10px 10px;
	font-size: 32px;
	line-height: 40px;
	margin-top: -100px;
}
footer a{
	text-decoration: none;
	color: rgb(0,0,0);
	padding-right: 15px;
}
.email{
	display: block;
}
.eng{
	display: none;
}
.lngChangerRus{
	float: right;
	padding: 20px 10px 20px;
	display: none;
	cursor: pointer;
}
.lngChangerEng{
	float: right;
	padding: 20px 10px 20px;
	display: block;
	cursor: pointer;
	}
@media all and (min-width:600px){
.workat a{
	display: inline-block;
}
.workedat a{
	display: inline-block;
}
.started a{
	display: inline-block;
}
.email{
	display: inline-block;
}
.container{
	padding: 0 50px;
}
footer{
	padding: 10px 60px 10px;
}
.subheader{
	padding: 10px 10px 100px;
}
}