.paragraph {
  padding: 0;
  margin: 0;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.375;
}

@media (max-width: 1000px) {
  .header {
    font-size: 32px;
  }

  .paragraph {
  font-size: 22px;
  }
}

@media (max-width: 501px) {
  .paragraph {
    font-size: 18px;
  }
}
