.workExp {
  width: 100%;
  transition: all 0.5s linear;
}

.container {
  padding: 50px;
  display: flex;
  max-width: 1440px;
  margin-left: auto;
  margin-right: auto;
  transition: all 0.5s linear;
  flex-direction: column;
  gap: 50px;
}

.text {
  margin: 0;
  padding: 0;
  font-family: 'VremenaGrotesk', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 30px;
  line-height: 36px;
  transition: all 0.5s linear;
  text-rendering: optimizeLegibility;
}

.link {
  text-decoration: none;
  text-decoration: underline;
  outline: none;
  color: black;
  transition: all 0.5s linear;
}

.link:hover {
  color: #F74843;
  cursor: pointer;
  transition: all 0.5s linear;
}

@media (max-width: 769px) {
  .container {
    padding: 30px;
    gap: 40px;
  }

  .text {
    font-size: 28px;
    line-height: 34px;
  }
}

@media (max-width: 501px) {
  .container {
    flex-direction: column;
    padding: 20px;
    gap: 30px;
  }

  .text {
    font-size: 26px;
    line-height: 32px;
  }
}
