.otherExp {
  width: 100%;
  transition: all 0.5s linear;
}

.container {
  padding: 50px;
  display: flex;
  max-width: 1180px;
  margin-left: auto;
  margin-right: auto;
  transition: all 0.5s linear;
  flex-direction: column;
  gap: 20px;
}

.header {
  padding: 0;
  margin: 0;
  font-family: 'VremenaGrotesk', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 36px;
  line-height: 40px;
  transition: all 0.5s linear;
  text-rendering: optimizeLegibility;
  text-align: center;
}

.cardBox {
display: grid;
grid-template-columns: repeat(2, 1fr);
margin: auto;
gap: 20px;
transition: all 0.5s linear;
}

.text {
  margin: 0;
  padding: 0;
  font-family: 'VremenaGrotesk', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 30px;
  line-height: 36px;
  transition: all 0.5s linear;
  text-rendering: optimizeLegibility;
}

.link {
  text-decoration: none;
  text-decoration: underline;
  outline: none;
  color: black;
  transition: all 0.5s linear;
}

.link:hover {
  color: #F74843;
  cursor: pointer;
  transition: all 0.5s linear;
}

@media (max-width: 1279px) {
  .cardBox {
    grid-template-columns: repeat(1, 1fr);
    transition: all 0.5s linear;
  }
}

@media (max-width: 769px) {
  .container {
    padding: 30px;
    gap: 40px;
  }

  .text {
    font-size: 28px;
    line-height: 34px;
  }
}

@media (max-width: 639px) {
  .cardBox {
    width: 100%;
  }
}

@media (max-width: 501px) {
  .container {
    padding: 20px;
    gap: 20px;
  }
}
