.modalContentRenderGeneralWindow {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 100%;
  height: 100%;
  position: relative;
}

.modalContentRenderTextLogoWindow {
  display: flex;
  flex-direction: row;
  gap: 10px;
  justify-content: space-between;
}

.modalContentRenderCompanyTextBox {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.modalContentRendercardYear {
  font-size: 14px;
  line-height: 18px;
}

.modalContentRendercardCompanyName {
  font-size: 26px;
  line-height: 30px;
  transition: all 0.5s linear;
}

.modalContentRenderlink {
  font-size: 14px;
  line-height: 18px;
  text-decoration: none;
  outline: none;
  color: black;
  transition: all 0.5s linear;
}

.modalContentRenderlink:hover {
  color: #F74843;
  cursor: pointer;
  transition: all 0.5s linear;
}

.modalContentRendercardTitle {
  font-size: 16px;
  line-height: 20px;
}

.modalContentRenderlogoBlock {
  display: flex;
  max-width: 200px;
  transition: all 0.5s linear;
  z-index: -1;
  align-self: center;
  justify-content: end;
  align-items: end;
}

.modalContentRenderlogoPic {
  width: 100%;
  height: 100%;
  z-index: -1;
  overflow: visible;
  transition: all 0.5s linear;
}

.modalContentRenderParagraphBlock {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.modalContentRenderParagraphCompanyDescription {
  font-size: 16px;
  line-height: 20px;
  margin: 0;
  padding: 0;
  text-align: justify
}

.modalContentRenderParagraphPersonalDescription {
  font-size: 16px;
  line-height: 20px;
  margin: 0;
  padding: 0;
  text-align: justify
}

@media (max-width: 501px) {

  .modalContentRenderlogoBlock {
    max-width: 70px;
  }
}
