.section {
  width: 100%;
}

.container {
  display: flex;
  flex-direction: column;
  gap: 20px;
  max-width: 1280px;
  padding: 50px;
  margin-left: auto;
  margin-right: auto;
}

.title {
  padding: 0;
  margin: 0;
  font-size: 36px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.4;
  text-align: center;
}

.cardsGrid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  justify-items: center;
  gap: 20px;
  margin: auto;
  width: 100%;
}

@media (max-width: 1279px) {
  .cardsGrid {
    grid-template-columns: repeat(1, 1fr);
  }
}

@media (max-width: 1000px) {
  .title {
    font-size: 32px;
  }
}

@media (max-width: 769px) {
  .container {
    padding: 30px;
  }
}

@media (max-width: 640px) {
  .cardsGrid {
    width: 100%;
  }
}

@media (max-width: 501px) {
  .container {
    padding: 20px;
    gap: 10px;
  }

  .title {
    font-size: 28px;
  }
}

@media (max-width: 372px) {
  .title {
    font-size: 24px;
  }
}
