.header {
  width: 100%;
  transition: all 0.5s linear;
}

.container {
  padding: 50px;
  display: flex;
  justify-content: space-between;
  max-width: 1180px;
  margin-left: auto;
  margin-right: auto;
  transition: all 0.5s linear;
  gap: 120px;
}

.navigationBlock {
  display: flex;
  align-items: center;
}

.listItems {
  margin: 0;
  padding: 0;
  list-style-type: none;
  display: flex;
  flex-direction: row;
  gap: 40px;
  transition: all 0.5s linear;
}

.listItem {
  margin: 0;
  padding: 0;
}

.listItemLink {
  margin: 0;
  padding: 0;
  font-family: 'VremenaGrotesk', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: normal;
  transition: all 0.5s linear;
  text-rendering: optimizeLegibility;
  text-decoration: none;
  color: black;
  outline: none;
  transition: all 0.5s linear;
}

.listItemLink:hover {
  cursor: pointer;
  color: #F74843;
  transition: all 0.5s linear;
}


.lngChanger {
  display: flex;
  padding: 0;
  margin: 0;
  border: none;
  color: inherit;
  background-color: transparent;
  font-family: 'VremenaGrotesk', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 30px;
  line-height: 36px;
  text-rendering: optimizeLegibility;
  transition: all 0.5s linear;
  gap: 5px;
}

.lngSwitcher {
  max-width: 30px;
  max-height: 20px;
  align-self: center;
}

.lngChanger:hover {
  cursor: pointer;
  color: #F74843;
  transition: all 0.5s linear;
  fill: #F74843;
}

@media (max-width: 769px) {
  .container {
    padding: 30px;
  }

  .lngChanger {
    font-size: 28px;
    line-height: 34px;
  }
}

@media (max-width: 501px) {
  .container {
    padding: 20px;
  }

  .lngChanger {
    font-size: 24px;
    line-height: 32px;
  }
}
