.modalOverlay {
  display: flex;
  background-color: var(--overlay-base);
  opacity: 0;
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
  transition: opacity 0.5s ease-in-out;
}

.showModalOverlay {
  opacity: 0.6;
}
