.modalOverlay {
  display: flex;
  background-color: var(--overlay-base);
  opacity: 0;
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10000;
  transition: opacity var(--transition-slow);
}

.showModalOverlay {
  opacity: var(--overlay-opacity);
}
