.footer {
  width: 100%;
  transition: all 0.5s linear;
  margin-top: auto;
}

.container {
  padding: 50px;
  display: flex;
  max-width: 1180px;
  margin-left: auto;
  margin-right: auto;
  transition: all 0.5s linear;
  justify-content: space-between;

}

.contactsBlock {
  display: flex;
  flex-direction: row;
  gap: 15px;
  transition: all 0.5s linear;
}

.text {
  margin: 0;
  padding: 0;
  font-family: 'VremenaGrotesk', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 30px;
  line-height: 36px;
  transition: all 0.5s linear;
  text-rendering: optimizeLegibility;
}

.navigationList {
  margin: 0;
  padding: 0;
  list-style-type: none;
  display: flex;
  flex-direction: row;
  gap: 20px;
  transition: all 0.5s linear;
}

.navigationListItem {
  margin: 0;
  padding: 0;
  font-family: 'VremenaGrotesk', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 30px;
  line-height: 36px;
  transition: all 0.5s linear;
  text-rendering: optimizeLegibility;
}

.link {
  text-decoration: none;
  text-decoration: underline;
  outline: none;
  color: black;
  transition: all 0.5s linear;
}

.link:hover {
  cursor: pointer;
  color: #F74843;
  transition: all 0.5s linear;
}

.year {
  margin: 0;
  padding: 0;
  font-family: 'VremenaGrotesk', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 30px;
  line-height: 36px;
  transition: all 0.5s linear;
  text-rendering: optimizeLegibility;
  transition: all 0.5s linear;
}

@media (max-width: 769px) {
  .container {
    padding: 30px;
    flex-direction: column;
    align-self: auto;
    text-align: center;
    gap: 30px;
  }

  .text {
    font-size: 28px;
    line-height: 34px;
  }

  .navigationListItem {
    font-size: 28px;
    line-height: 34px;
  }

  .year {
    font-size: 28px;
    line-height: 34px;
  }
}

@media (max-width: 640px) {
  .contactsBlock {
    flex-direction: column;
    gap: 5px;
  }

  .navigationList {
    justify-content: center;
  }
}

@media (max-width: 501px) {
  .container {
    flex-direction: column;
    padding: 20px;
    gap: 40px;
  }

  .text {
    font-size: 26px;
    line-height: 32px;
  }

  .navigationListItem {
    font-size: 26px;
    line-height: 32px;
  }

  .navigationList {
    gap: 10px;
    flex-direction: column;
  }

  .year {
    font-size: 26px;
    line-height: 32px;
  }

  .contactsBlock {
    gap: 20px;
  }
}
